[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
numpy = "*"
opencv-python = "*"
nptyping = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
